<%- include header %>
<form method="post">
  <div class="">
    <label for="name">用户名: </label>
    <input id="name" type="text" name="name">
  </div>
  <div class="">
    <label for="password">密码: </label>
    <input id="password" type="password" name="password">
  </div>
  <button type="submit">登录</button>
</form>
<%- include footer %>
