<%- include header %>
<form method="post">
  <div class="">
    <label for="title">标题: </label>
    <input id="title" type="text" name="title"/>
  </div>
  <div class="">
    <label for="content">正文: </label>
    <textarea id="content" name="content" rows="20" cols="100"></textarea>
  </div>
  <button type="submit">发表</button>
</form>
<%- include footer %>
