<%- include header %>
<form method="post">
  <div class="">
    <label for="name">用户名: </label>
    <input id="name" type="text" name="name"/>
  </div>
  <div class="">
    <label for="password">密码: </label>
    <input id="password" type="password" name="password"/>
  </div>
  <div class="">
    <label for="passwordRepeat">确认密码: </label>
    <input id="passwordRepeat" type="password" name="password-repeat"/>
  </div>
  <div class="">
    <label for="email">邮箱: </label>
    <input id="email" type="email" name="email"/>
  </div>
  <button type="submit">注册</button>
</form>
<%- include footer %>
